<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hope.xueling.common.mapper.UserMapper">
    <!--根据用户ID更新用户信息-->
    <update id="updateById">
        update user
        <set>
            <if test="userDTO.nickname != null">nickname = #{userDTO.nickname},</if>
            <if test="userDTO.email != null">email = #{userDTO.email},</if>
            <if test="userDTO.phone != null">phone = #{userDTO.phone},</if>
            <if test="userDTO.password != null">password = #{userDTO.password},</if>
            <if test="userDTO.avatar != null">avatar = #{userDTO.avatar},</if>
            <if test="userDTO.gender != null">gender = #{userDTO.gender},</if>
            <if test="userDTO.birthday != null">birthday = #{userDTO.birthday},</if>
            <if test="userDTO.updatedAt != null">updated_at = #{userDTO.updatedAt},</if>
        </set>
        where id = #{userDTO.id}
    </update>
</mapper>